{{> site-pre.mustache}}

<article class="folderContent">

<div class="row">
    <div class="span2"></div>
    <div class="span3">
    	<h2>Pages</h2>
    	<ul class="pageslist">
        {{#wikiPage}}
            {{#pages}}
            <li><a href="{{url}}">{{name}}</a>
            {{/pages}}
        {{/wikiPage}}
    	</ul>
    </div>
    <div class="span3">
    	<h2>Files</h2>
    	<ul class="filelist">
    		{{#wikiPage.files}}
    			<li><a href="{{url}}">{{name}}</a>
    		{{/wikiPage.files}}
    	</ul>
    </div>
    <div class="span3">
    	<h2>Folders</h2>
    	<ul class="folderlist">
    		{{#wikiPage.folders}}
    			<li><a href="{{url}}/">{{name}}/</a>
    		{{/wikiPage.folders}}
    	</ul>
    </div>
    <div class="span1"></div>
</div>

</article>

{{> site-post.mustache}}