{{> site-pre}}

<div class="row">
    <div class="span2"></div>
    <div class="span8">
        <article class="pageContent">
        {{{pageContent}}}
        </article>
    </div>
    <div class="span2"></div>
</div>

{{> site-post}}