{{> site-pre}}

<article class="root">

<div class="row">
    <div class="span2"></div>
    <div class="span8">
        <h1>Shard</h1>
        <p>You have the following wikis configured:
            <ul class="linklist">
	        {{#wikis}}
		        <li><a href="wiki/{{id}}">{{name}}</a>
	        {{/wikis}}
	        </ul>
        </p>
    </div>
    <div class="span2"></div>
</div>

</article>

{{> site-post}}