{{> site-pre}}

<div class="row">
    <div class="span2"></div>
    <div class="span8">
        <h1>Shard</h1>
    </div>
    <div class="span2"></div>
</div>

<div class="row">
    <div class="span2"></div>
    <div class="span8">
        <p>You have the following wikis configured:
            <ul class="linklist">
	        {{#wikis}}
		        <li><a href="wiki/{{id}}">{{name}}</a>
	        {{/wikis}}
	        </ul>
        </p>
    </div>
    <div class="span1"></div>
</div>

{{> site-post}}