<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{vm.title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- link rel="stylesheet" href="/css/normalize.css" -->
	<link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/main.css" rel="stylesheet">
    <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<div id="container">	
	<header>
		<nav>
			<div class="row">
			    <div class="span2"></div>
			    <div class="span6">
			        <a href="/">home</a>{{#vm}} | <a href="{{wiki.url}}">{{wiki.name}}</a>{{/vm}}
			    </div>
			    <div class="span2">	
			    	{{#vm}}
			    		<div class="contextButton">
			    			Context
				    	 	<div class="row contextPopup">
							    <div class="span3">
							    	<h3>Pages</h3>
							    	<ul class="pageslist">
							    		{{#vm.pages}}
							    			<li><a href="{{url}}">{{name}}</a>
							    		{{/vm.pages}}
							    	</ul>
							    </div>
							    <div class="span3">
							    	<h3>Files</h3>
							    	<ul class="filelist">
							    		{{#files}}
							    			<li><a href="{{url}}">{{name}}</a>
							    		{{/files}}
							    	</ul>
							    </div>
							    <div class="span3">
							    	<h3>Folders</h3>
							    	<ul class="folderlist">
							    		{{#folders}}
							    			<li><a href="{{url}}/">{{name}}/</a>
							    		{{/folders}}
							    	</ul>
							    </div>
							</div>
			    		</div>
			    	{{/vm}}
			    </div>
			    <div class="span2"></div>
			</div>
		</nav>
	</header>
