article {
    min-height: calc(100% - 110px); /* total body height minus header and footer (note that those containers should not have padding by themselves */
    padding: 0;
}

.page-content {
    min-height: calc(100%);
    margin: 0 10px 0 10px;
}

.page-editor {
    position: absolute;
    top: 80px;
    left: 10px;
    right: 50%;
    bottom: 20px;
    display: none;
    overflow: auto;
}

.page-preview {
    position: absolute;
    top: 80px;
    left: 50%;
    right: 10px;
    bottom: 20px;
    display: none;
    overflow: auto;
}

.page-editor form {
    width: 100%;
    height: 100%;
}

.page-editor textarea {
    /*width: calc(100% - 30px);*/
    /*height: calc(100% - 30px);*/
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    font-family: monospace;
    resize: none;
}